# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/

# SQLite database
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/